 
/* CSS Document */

 
/****提示错误信息****/
.txterror {
    color: red;  font-size: 14px;
    }

/****注册错误提示****/
.tipClass {
min-height: 32px;
height: auto;
color: #7b7b7b;
}
.red{
min-height: 32px;
height: auto;
}  

/****按钮样式***/ 
.u-btn {
    display:block;
    position:relative;
    width: 60px;
    cursor:pointer;
    line-height:25px;
    text-align:center;
    color:#3c3c3c;
    font-size:.875em;
    background:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#e2d7c5));
    background:-moz-linear-gradient(top,#fff,#e2d7c5);
    border:1px solid #baac9d;
    border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;
} 

.home_order a {
    float:left;margin-left:18px;   text-align:center;  
}
.home_order span{ float:left; padding:5px; font-size:14px;}


/*****分页****/
/*.in_pages_m{width:100%;margin-top: 20px;text-align: center;line-height: 26px; overflow:hidden;}
.in_pages_m p{  margin-right:4px; text-align:center; color:red; font-family:"微软雅黑";  display:inline-block; *display: inline; font-size:13px; font-weight:bold;}
.in_pages_m p a{ color:red; display:inline-block; *display: inline; background:#E8F0EF ;border:#E8F0EF 1px solid; padding:2px 8px 2px 8px; }
.in_pages_m p a:hover{ padding:2px 8px 2px 8px; background:#fff; color:orange;display:inline-block; *display: inline; background:#fff;border:#E8F0EF 1px solid; }
.in_pages_m .in_s { padding:2px 8px 2px 8px; background:#fff; color:orange;display:inline-block; *display: inline; background:#fff;border:#E8F0EF 1px solid; }*/

.in_pages_m{width:100%;margin-top: 20px;text-align: center; line-height: 26px; overflow:hidden;}
.in_pages_m p{  margin-right:4px; text-align:center; color:#ff6799; font-family:"微软雅黑";  display:inline-block; *display: inline; font-size:13px; font-weight:bold;}
.in_pages_m p a{ color:#ff6799; display:inline-block; *display: inline; background:#ffe1ea;border:#fcc8d9 1px solid; padding:2px 8px 2px 8px; }
.in_pages_m p a:hover{ padding:2px 8px 2px 8px; background:#fff; color:#3d3d3d;display:inline-block; *display: inline; background:#fff;border:#fcc8d9 1px solid; }
.in_pages_m .in_s { padding:2px 8px 2px 8px; background:#fff; color:#3d3d3d;display:inline-block; *display: inline; background:#fff;border:#fcc8d9 1px solid; }




/*****我的收藏*****/
.favor_list { overflow:hidden; width:100%;}
.favor_list ul { height:100px; border-bottom:dashed 1px #cfcccc; margin:0; padding:0px 0 0 0;}
.favor_listimg { width:100px; overflow:hidden; padding:10px; float:left;}
.favor_list h3 { margin:20px 0 0 10px; padding:0; color:#5c5b5b; font-size:16px; line-height:25px; font-weight:normal;}
.favor_list ul span a {
   width:90px; float:left; margin-top:20px;    text-align:center;  
}


/****覆盖jqueryUi的样式  Dia弹层的样式****/
.ui-widget-header
    {
    background: red;
        color: #FFF;
        font-size: 14px;
    }
.ui-widget-content
    {
        border: 8px solid #CCC;
        color: #988;
        font-size: 14px;
    }


/*****404*****/
.error_w_a{ font-size:24px; margin-bottom:15px; color:#c33; font-family:"微软雅黑";}
.error_w_b{ font-size:14px; color:#333; line-height:26px;}
.error_w_b a{ color:#0081bf;}



/*推广佣金首页*/
.comm_home {
   padding: 10px 0;
    height: 30px;
   width:100%;
}
 
.comm_home  .s_c{
width:24%;
float:left;
text-align: center;
}

    .comm_home .s_c .red {
    color:red;
    }

.comm_home .line {
 float:left;
border-right: solid 1px #dbdbdb;
height:15px;
margin-top:7.5px;
}

