<ul class="statistics clearfix">
    <li>
        <span class="ver-l">商户总数</span>@ViewBag.SuppNum
    </li>
    <li>
        <span class="ver-l">今日新增商户</span>@ViewBag.TodayAddSuppNum
    </li>
    <li>
        <span class="ver-l">商品总数</span>@ViewBag.SkuNum
    </li>
    <li>
        <span class="ver-l">今日新增商品</span>@ViewBag.TodayAddSkuNum
    </li>
</ul>