@{
    Layout = "/Areas/MB/Themes/MB02/Views/Shared/_BaseLayout.cshtml";
}
@section head{
    <link href="/Areas/MB/Themes/MB02/Content/Css/main.css?v=1.2" rel="stylesheet" />
}
<div class="main_wrapper">
    <div class="daily_wrap">
        <header>
            <div class="top_navbar fixed_header">
                @Html.Partial("/Areas/MB/Themes/MB02/Views/Partial/_Back.cshtml")
                <p class="header_title">指数日报</p>
                <div class="icon_filtrate topbar_mess"></div>
            </div>
        </header>
        <div class="daily_list">
            <div class="list_row title">
                <div class="list_cell list_l">商品名称</div>
                @*<div class="list_cell list_m" >价格趋势</div>*@
                <div class="list_cell list_r">价格</div>
            </div>
            <div class="list_row list_item">
                <div class="list_cell list_l"><span class="name">哆呵婴儿湿巾 手口湿巾湿纸巾80片*6包带盖哆呵婴儿湿巾 手口湿巾湿纸巾80片*6包带盖</span></div>
                @*<div class="list_cell list_m"><span class="icon_arrow_up"><i class="icon_arrow"></i>102.20%</span></div>*@
                <div class="list_cell list_r">￥198.00</div>
            </div>
            <div class="list_row list_item">
                <div class="list_cell list_l"><span class="name">雅培(Abbott)亲体金装喜康力较大婴儿配方奶粉(6-12个月)2段 900克*1罐</span></div>
                @*<div class="list_cell list_m"><span class="icon_arrow_flat"><i class="icon_arrow"></i>62.20%</span></div>*@
                <div class="list_cell list_r">￥178.00</div>
            </div>
            <div class="list_row list_item">
                <div class="list_cell list_l"><span class="name">好孩子(goodbaby)丘比特婴儿车舒适轻便单手折叠可登机伞车 D678-N301PP 紫色</span></div>
                @*<div class="list_cell list_m"><span class="icon_arrow_down"><i class="icon_arrow"></i>2.20%</span></div>*@
                <div class="list_cell list_r">￥1199.00</div>
            </div>
            <div class="list_row list_item">
                <div class="list_cell list_l"><span class="name">美赞臣（Enfamil）荷兰版 安婴宝A+ 2段（6-12月适用）850g（荷兰原装进口）</span></div>
                <div class="list_cell list_r">￥272.00</div>
            </div>
            <div class="list_row list_item">
                <div class="list_cell list_l"><span class="name">小巨星儿童电子琴男孩女孩钢琴带麦克风宝宝益智玩具可充电小孩音乐琴礼物 37键电子琴(粉色)</span></div>
                <div class="list_cell list_r">￥128.00</div>
            </div>
            <div class="list_row list_item">
                <div class="list_cell list_l"><span class="name">联想(Lenovo)小新Air Pro13.3英寸超轻薄笔记本电脑（i7-7500U 8G 512G PCIE SSD 940MX 2G FHD IPS）金</span></div>
                <div class="list_cell list_r">￥7389.00</div>
            </div>
            <div class="list_row list_item">
                <div class="list_cell list_l"><span class="name">丹麦进口 爱氏晨曦 Arla 巧克力味风味牛奶200ml*6 随享装</span></div>
                <div class="list_cell list_r">￥24.00</div>
            </div>
            <div class="list_row list_item">
                <div class="list_cell list_l"><span class="name">苏泊尔（SUPOR）电水壶电热水壶SWF17K2-180</span></div>
                <div class="list_cell list_r">￥99.00</div>
            </div>
            <div class="list_row list_item">
                <div class="list_cell list_l"><span class="name">dostyle料理机多功能家用迷你榨汁杯婴儿果汁机MB201</span></div>
                <div class="list_cell list_r">￥99.00</div>
            </div>
        </div>
    </div>

</div>