@{
    Layout = "/Areas/MShop/Themes/F1/Views/Shared/_BaseLayout.cshtml";
}
@model  YSWL.MALL.ViewModel.Shop.RegisterModel
<div data-role="content" class="ui-content" role="main">
    <p> @Html.Raw(Model.UserAgreement) </p>
   
</div>
