<script src="/Areas/MBShop/Themes/Y1/Content/Scripts/deliveryAreas.js" type="text/javascript"></script>

<input id="hdIsMultiDepot" type="hidden" value ="@ViewBag.IsMultiDepot" />
<div id="store-selector" class="mb10 pl20">
    <div>
        配送至： <a href="javascript:;" class="text" id="p_tan_ceng" style="text-decoration:none;color:#000000">
            <label id="l_regionfullname" style="font-weight: normal;"></label> <img style="vertical-align: middle;" src="/Areas/MBShop/Themes/Y1/Content/images/btn-facial.gif" />
        </a>&nbsp;
    </div>
</div>
<div class="z_z_ceng" item="ceng_content_selector">
</div>
<div class="ceng_kuang" item="ceng_content_selector" >
    <a href="javascript:;"  style="text-decoration:none;color:#000000" class="close_a" id="c_close_a"><img src="/Areas/MBShop/Themes/Y1/Content/images/close-ico.gif" />
    </a>
    <div style="text-align: center; height: 45px; line-height: 45px;">配送至</div>
    <div id="divDeliveryAreas" class="delivery_areas_r">

    </div>
</div>


