@{
    Layout = "/Areas/MShop/Themes/VPH/Views/Shared/_BaseLayout.cshtml";
}
@model  YSWL.MALL.ViewModel.Shop.RegisterModel
<link href="/Areas/MShop/Themes/VPH/Content/Css/UserCenter/userstyle.css" rel="stylesheet" type="text/css" />
<link href="/Areas/MShop/Themes/VPH/Content/Css/style.css" rel="stylesheet"/>
<header id="header" class="header clearfix">
    <div class="head_left fl"><a href="javascript:;" onclick="history.go(-1)"><span class="h_back"></span></a></div>
    <span class="headtit">返回</span>
    <div class="head_right fr"><a href="@ViewBag.BasePath"><span class="h_home"></span></a></div>
</header>
<div class="home_newlist">
  <div class="home_newcontent">@Html.Raw(Model.UserAgreement)</div>
</div>
