#description{padding:10px; background:#fff;}
#description a.back{display:block; width:45%; height:36px; line-height:36px; text-align:center; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; font-size:16px; color:#fff; background-color:#F00019; border:1px solid #c10001; background-image:linear-gradient(bottom, #E20018 0, #DC3749 100%); background-image:-moz-linear-gradient(bottom, #E20018 0, #DC3749 100%);background-image:-webkit-linear-gradient(bottom, #E20018 0, #DC3749 100%); box-shadow:0 1px 0 #D95260 inset, 0 1px 2px rgba(0,0,0,0.5); border-radius:5px; text-shadow:0 1px rgba(0,0,0,0.2); text-decoration:none;}
#description .contents{padding:10px 0; line-height:180%; overflow:hidden;}
.descriptionul {
    margin: 0px; 
    padding: 0px 20px 18px;
     list-style: none; zoom: 1; 
     border-top-width: 1px; 
     border-top-style: solid; 
     border-top-color: rgb(255, 255, 255); 
     color: rgb(64, 64, 64); 
     font-family: tahoma, arial, ו; 
     line-height: 14.399999618530273px;
}
.descriptionli {
    margin: 10px 15px 0px 0px; 
    padding: 0px;
     display: inline; 
     float: left; 
     width: 220px;
      height: 18px; 
      overflow: hidden;
       line-height: 18px;
        vertical-align: top; 
        white-space: nowrap; 
        text-overflow: ellipsis; 
        color: rgb(102, 102, 102);
}