@{
    Layout = "/Areas/MShop/Themes/AKTV/Views/Shared/_BaseLayout.cshtml";
}
@model  YSWL.MALL.ViewModel.Shop.RegisterModel
<link href="/Areas/MShop/Themes/AKTV/Content/Css/user.css" rel="stylesheet"/>
<div class="home_newlist">
  <div class="home_newcontent">@Html.Raw(Model.UserAgreement)</div>
</div>
