<header id="header" class="header clearfix" style="z-index: 9999;">
        <div class="head_left fl">
            <a href="@(ViewBag.BasePath)u"><span class="h_logn"></span></a>
        </div>
        <div class="head_logo">
            <a href="@(ViewBag.BasePath)" style="width: 64px;height: 25px;display: block;">
                <img  src="@ViewBag.MShopLogo" width="64" height="25"/>
            </a>
        </div>
        <div class="head_right fr">
            <a href="@(ViewBag.BasePath)sc/ci" ><span class="h_cart"></span></a>
        </div>
    </header>