<script src="/Areas/MShop/Themes/VPH/Content/Scripts/deliveryAreas.js" type="text/javascript"></script>
<input id="hdIsMultiDepot"   type="hidden" value="@ViewBag.IsMultiDepot"/>
  <div    id="store-selector" class="mb10 pl20" >
                  <div>配送至：<span class="text"  id="p_tan_ceng" >
                    <label id="l_regionfullname"></label> <img style="vertical-align: middle;" src="/Areas/MShop/Themes/VPH/Content/images/btn-facial.gif"/></span>&nbsp;
                    </div>
                </div>
 <div class="z_z_ceng" item="ceng_content_selector" >
 </div>
 <div class="ceng_kuang" item="ceng_content_selector">
  <div class="close_a"  id="c_close_a"><img  src="/Areas/MShop/Themes/VPH/Content/images/close-ico.gif" /></div>
 <div style="text-align: center;height: 45px;line-height: 45px;">配送至</div>  
  <div  id="divDeliveryAreas" class="delivery_areas_r">  
                                                
                                          </div>
 </div>

  