<div id="header">
            <div class="ico back">
                <a href="javascript:;" onclick="window.history.back();" id="a_back">
                    <img src="/Areas/MShop/Themes/AKTV/Content/images/h_back.jpg"/></a></div>
            <div class="txt">
                @ViewBag.MShopName</div>
            <div class="ico user">
                <a href="@(ViewBag.BasePath)u">
                    <img src="/Areas/MShop/Themes/AKTV/Content/images/h_user.jpg"></a></div>
            <div class="ico cart">
                <a href="@(ViewBag.BasePath)sc/ci">
                    <img src="/Areas/MShop/Themes/AKTV/Content/images/h_cart.jpg"></a></div>
        </div>
