@{
    Layout = "/Areas/BShop/Themes/PB02/Views/Shared/_BaseLayout.cshtml";
    string areaid = Request.RequestContext.RouteData.Values["areaid"] != null ? Request.RequestContext.RouteData.Values["areaid"].ToString() : "0";
    string mod = Request.RequestContext.RouteData.Values["mod"] != null ? Request.RequestContext.RouteData.Values["mod"].ToString() : "sales";
}
@using Webdiyer.WebControls.Mvc
@model YSWL.MALL.ViewModel.Shop.SupplierModel
<script src="/Scripts/jquery/maticsoft.img.min.js" type="text/javascript"></script>
<div class="wrap">
    <!-- 面包屑导航 -->
    <div class="breadcrumb">
        <a href="@(ViewBag.BasePath)store/storelist/0/@mod" class="crumb-a-link">全部</a>
        @if (Model.AreaPathList != null && Model.AreaPathList.Count > 0)
        {
            foreach (var item in Model.AreaPathList)
                {
                <i class="arrow-r">&gt;&nbsp;</i><a href="@(ViewBag.BasePath)store/storelist/@item.AreaId/@mod" class="crumb-a-link">@item.Name</a>
            }
        }
    </div>

    
    <!--筛选-->
    @Html.Action("SuppAreasList", "Partial", new { AreaId = areaid, Top = 0, viewName = "/Areas/BShop/Themes/PB02/Views/Store/_SuppAreasList.cshtml" })

    <div class="list-main clearfix search-shop-list">
        <div class="m-list">
            <div class="ml-wrap" id="storeList">
                @{Html.RenderPartial("_StoreList", Model);}
            </div>
        </div>
    </div>
</div>
<script src="/scripts/MvcPager-1.8.js" type="text/javascript"></script>
