@model List<YSWL.MALL.Model.Shop.Products.HotKeyword>
 @if (Model != null && Model.Count > 0)
 {
     foreach (var item in Model)
     {
       <a href="@(ViewBag.BasePath)search/@item.CategoryId/0/default/0-0/@item.Keywords" target="_blank">@item.Keywords&#12288;</a>
     }
 }
   
                  