@model  YSWL.MALL.Model.Settings.Advertisement
            @if (Model != null)
            {
<div class="big-img e-cms" e_cms="slide" e_cdata="floorList">
<a href="@Model.NavigateUrl"  title="@Model.AdvertisementName" target="_blank">
<img src="@Model.FileUrl" alt="@Model.AdvertisementName" border="0"  style="width:1030px;height:437px;display: inline;"  />
</a>  
				 
		 				</div>
            }