       <a href="@(ViewBag.BasePath)UserCenter">您好,@ViewBag.loginnickname</a>
                 <span class="i">|</span>
                    <span><a href="@(ViewBag.BasePath)Account/Logout"  style="cursor:pointer">退出</a></span> 

