@{
    Layout = "/Areas/MBShop/Themes/Y1/Views/Shared/_BaseLayout.cshtml";
}
 <!--START HEADER-->
<header class="m_header">
    <div class="navbar-fixed-top">
        <div class="m_header_bar">
            <p class="m_header_title">支付失败</p>
        </div>
    </div>
</header>
<!-- END HEADER -->
<div class="mt44 mb50">
    <div class="wrap" style="display:block">
        <div class="order_fail_pic"></div>
        <div class="prompt_text">
            此订单只能在电脑上支付 或 重新下单。<br/>
            订单号：@(ViewBag.OrderCode)
        </div>
    </div>
</div>
 
 
 