 @{
     Layout = "/Areas/MBShop/Themes/Y1/Views/Shared/_NoFootLayout.cshtml";
     ViewBag.Title = "个人中心-修改密码";
 }
<link href="/Areas/MBShop/Themes/Y1/Content/Css/UserCenter/userstyle.css" rel="stylesheet" type="text/css" />
<script src="/Areas/MBShop/Themes/Y1/Content/Scripts/UserCenter/updatepassword.js" type="text/javascript"></script>
<body class="bg">
    <div class="main-wrapper">
        <!--START HEADER-->
        <header class="m_header">
            <div class="">
                <div class="m_header_bar" onclick="javascript:history.go(-1);">
                    <div class="m_icon_goback icon">
                        <span></span>
                    </div>
                    <p class="m_header_title">修改密码</p>
                </div>
            </div>
        </header>
        <!-- END HEADER -->
        <div class="reg_input_wrap">
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { id = "formregister" }))
            {
                <input type="password" name="txtPwd" id="txtPwd" placeholder="原密码" class="input-lg reg_input" />
                <input type="password" name="txtNewPwd" id="txtNewPwd" placeholder="请输入密码（6~20位英文或数字）" class="input-lg reg_input" />
                <input type="password" name="txtConfirmPwd" id="txtConfirmPwd" placeholder="确认密码" class="input-lg reg_input" />
                @*<input type="password" id="password" class="input-lg reg_input" placeholder="请输入密码（6~20位英文或数字）" />
                    <input type="password" id="rePassword" class="input-lg reg_input" placeholder="确认密码" />*@
            }


        </div>

        <!--底部悬浮导航-->
        <nav class="navbar-fixed-bottom nav_bottom_focus bg_blue" onclick="submit();">

            <span class="font_white" id="order_tuan_submit" >修改密码</span>

        </nav>



    </div>
    <!-- END MAIN WRAPPER-->
    @*<div class="top">
            <div class="">
                <div class="m_header_bar">
                    <div class="m_icon_goback icon" >
                        <span > </span>
                    </div>
                    <p class="m_header_title">修改密码</p>
                </div>
            </div>
        </div>*@

    @*<div class="yy"></div>
        <div class="index_h1">修改密码</div>
        <div class="logincontent">
             <span  class="tipClass"> &nbsp; </span>
            <div>
                <input name="txtPwd" id="txtPwd" type="password" placeholder = "原密码"  class="logininput" /><br />
                <div id="pwdTip"  class="txterror tipClass" >
                    <span   class="txterror">&nbsp;</span>
                </div>
            </div>

            <div>
                <input name="txtNewPwd" id="txtNewPwd" type="password"  placeholder = "新密码" class="logininput" /><br />
                <div id="newpwdTip"  class="txterror tipClass" >
                    <span   class="txterror">&nbsp;</span>
                </div>
            </div>

            <div>
                <input id="txtConfirmPwd" name="txtConfirmPwd" type="password"  placeholder = "确认密码" class="logininput" /><br />
                <div id="confirmpwdTip"  class="txterror tipClass" >
                    <span   class="txterror">&nbsp;</span>
                </div>
            </div>
            <div>
                <input type="button" value="修改密码" id="order_tuan_submit" onclick="submit();" class="sub_btn">
            </div>
        </div>*@
    </body>
