@model List<YSWL.MALL.Model.CMS.ContentClass>
<script type="text/javascript">
    $('#h-page-title').text('@ViewBag.AclassName');
</script>
<ul class="tab-tit clearfix sort_tab" id="classList">
    @if (Model != null || Model.Count > 0)
    {
        for (int i = 0; i < Model.Count; i++)
        {
            <li><a  href="javascript:;" cid="@Model[i].ClassID">@Model[i].ClassName</a></li>@* class="sort_a"*@
        }
    }
</ul>

