@model List<YSWL.MALL.Model.Shop.Products.CategoryInfo>
<dd>
    @if (null != Model && Model.Count > 0)
    {
        for (var i = 0; i < (Model.Count > 3 ? 3 : Model.Count); i++)
        {
            if (Model[i].HasChildren)
            {
                <a href="@(ViewBag.BasePath)p/c/@Model[i].CategoryId?viewName=ThirdCate" style="max-width: 100px; overflow: hidden;">
                    @YSWL.Common.StringPlus.SubString(Model[i].Name, 12, "...")
                </a>
            }
            else
            {
                <a href="@(ViewBag.BasePath)p/@Model[i].CategoryId">
                @YSWL.Common.StringPlus.SubString(Model[i].Name, 12, "...")
                </a>
            }
             
        }
    }
</dd>

