<div class="data-display">
    <div class="data-item">商户总数：<span class="data">@ViewBag.SuppNum</span></div>
    <div class="data-item">今日新增商户：<span class="data">@ViewBag.TodayAddSuppNum</span></div>
    <div class="data-item">商品总数：<span class="data">@ViewBag.SkuNum</span></div>
    <div class="data-item">今日新增商品：<span class="data">@ViewBag.TodayAddSkuNum</span></div>
</div>
